@charset "UTF-8";
/*------------INICIO-------------*/
/* --------Inicio nosotros--------*/
.textoPrimero {
  background-image: url("../Imagenes/iniciobanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px; }
  .textoPrimero h2 {
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 30pt; }
  .textoPrimero p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15pt;
    color: white;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px; }

/* --------Inicio Recetas-------- */
#inicioRecetas {
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
  text-decoration: none;
  align-content: center; }
  #inicioRecetas h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 28pt;
    padding: 5px; }
  #inicioRecetas h3 {
    padding: 5px; }
  #inicioRecetas .receta {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #EE8886;
    transition-duration: 0.4s; }
    #inicioRecetas .receta:hover {
      color: white;
      background-color: #EE8886; }
    #inicioRecetas .receta a {
      font-family: Montserrat;
      font-weight: 600;
      color: black;
      text-decoration: none; }
    #inicioRecetas .receta img {
      width: 200px;
      height: 200px;
      overflow: hidden; }

/* --------Inicio Productos-------- */
#inicioProductos {
  background-image: url("../Imagenes/productosbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-content: center;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  margin: 0; }
  #inicioProductos h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 28pt;
    color: white;
    align-content: center; }
  #inicioProductos h3 {
    padding: 5px; }
  #inicioProductos p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15pt;
    color: white;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px; }
  #inicioProductos img {
    padding-top: 10px;
    padding-bottom: 10px; }

/* --------Inicio Contacto-------- */
#inicioContacto {
  font-family: Montserrat;
  color: black;
  font-size: 14pt;
  margin: 0; }
  #inicioContacto p {
    color: black;
    font-size: 14pt;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 5px; }
  #inicioContacto label {
    font-size: 12pt; }
  #inicioContacto article {
    text-align: center; }
    #inicioContacto article .cajaContacto {
      border: 2px solid #EE8886; }
    #inicioContacto article .boton {
      color: white;
      font-size: 15px; }
    #inicioContacto article .reset {
      text-decoration: underline;
      font-family: Montserrat;
      font-weight: 600;
      font-size: 15px;
      color: #EE8886;
      border: none;
      background-color: none; }

/*-----------SOBRE NOSOTROS------------*/
/* --------Sobre nosotros banner-------- */
.banner, #bannerNosotros, #bannerRecetas, #bannerProductos, #bannerContacto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }

#bannerNosotros {
  background-image: url("../Imagenes/pasteleríafoto.jpg"); }
  #bannerNosotros h2 {
    color: white;
    font-family: Montserrat;
    font-weight: 600; }

/* --------Sobre nosotros Conocenos-------- */
#sobreNosotros {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  text-decoration: none;
  align-content: center; }
  #sobreNosotros h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 28pt;
    padding: 5px; }
  #sobreNosotros h3 {
    padding: 5px;
    align-content: center; }
  #sobreNosotros p {
    padding-top: 10px; }
  #sobreNosotros img {
    padding-bottom: 10px; }

/* --------Sobre nosotros NuestraHistoria-------- */
#nuestraHistoria {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  background-color: white; }
  #nuestraHistoria img {
    align-content: center;
    width: 100%;
    height: auto; }
  #nuestraHistoria .imagenHistoria {
    max-height: 500px;
    overflow: hidden; }
  #nuestraHistoria p {
    padding: 10px; }
  #nuestraHistoria h2 {
    padding: 10px; }

/*---------RECETAS-------------*/
/* --------Recetas banner-------- */
#bannerRecetas {
  background-image: url("../Imagenes/recetasbanner.jpg"); }
  #bannerRecetas h2 {
    color: white;
    font-family: Montserrat;
    font-weight: 600; }

/* --------Recetas Intro-------- */
#introRecetas {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  align-content: center; }
  #introRecetas h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 28pt;
    padding: 5px; }
  #introRecetas h3 {
    padding: 5px;
    align-content: center; }
  #introRecetas p {
    padding-left: 20px;
    padding-right: 20px; }
  #introRecetas img {
    padding-bottom: 10px; }

/*-------------PRODUCTOS-------------*/
/* --------productos banner-------- */
#bannerProductos {
  background-image: url("../Imagenes/productosbanner2.JPG"); }
  #bannerProductos h2 {
    color: white;
    font-family: Montserrat;
    font-weight: 600; }

/* --------productos intro-------- */
#introProductos {
  padding-bottom: 20px;
  padding-top: 40px; }
  #introProductos h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 28pt;
    padding: 5px; }
  #introProductos h3 {
    padding: 5px;
    align-content: center; }
  #introProductos p {
    padding-left: 20px;
    padding-right: 20px; }
  #introProductos img {
    padding-bottom: 10px; }

/* --------productos lista-------- */
.producto {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 300px;
  height: 370px;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  background-color: white;
  text-align: center;
  transition-duration: 0.4s; }
  .producto:hover {
    width: 350px;
    height: 500px; }
  .producto img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    padding-bottom: 20px; }
  .producto h3 {
    padding-bottom: 10px; }
  .producto p {
    padding-bottom: 25px; }

/* --------productos aviso-------- */
#productosAviso {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  background-color: #EE8886;
  text-align: center; }
  #productosAviso h3 {
    text-decoration: none;
    color: black;
    text-align: center;
    text-align: center; }

/*------------CONTACTO--------------*/
/* --------Contacto banner-------- */
#bannerContacto {
  background-image: url("../Imagenes/bannercontacto.jpg"); }
  #bannerContacto h2 {
    color: white;
    font-family: Montserrat;
    font-weight: 600; }

/* --------Contacto Contactanos/visitamos-------- */
#contactanos {
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration: none;
  background-color: white; }
  #contactanos img {
    padding-bottom: 20px; }
  #contactanos p {
    color: black;
    font-size: 12pt;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px; }
  #contactanos h2 {
    padding-top: 10px;
    padding-bottom: 10px; }
  #contactanos #visitanos ul li {
    list-style: none;
    font-family: Montserrat;
    font-size: 12pt;
    font-weight: 400;
    color: black; }
  #contactanos iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
    overflow-y: hidden;
    overflow-x: visible;
    padding-bottom: 40px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  * Body {
    background-color: #F3D7D6;
    text-decoration: none;
    text-align: center; }
    * Body header {
      background-color: #F3D7D6;
      padding-left: 30px;
      padding-right: 30px; }
      * Body header nav {
        background-color: #F3D7D6; }
        * Body header nav img {
          max-width: 190px;
          text-align: center; }
        * Body header nav a {
          color: #155E53;
          text-decoration: none;
          font-family: Montserrat;
          font-weight: 500;
          transition-duration: 0.4s; }
          * Body header nav a:hover {
            color: white;
            transform: scale(1.1, 1.1); }
    * Body main {
      max-width: 1455px;
      margin: auto; }
      * Body main .container-fluid {
        margin: 0; }
      * Body main h2 {
        color: black;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 30pt; }
      * Body main h3 {
        color: #EE8886;
        font-family: Montserrat;
        font-size: 15pt; }
      * Body main p {
        font-family: Montserrat;
        font-size: 12pt;
        font-weight: 400;
        color: black; }
      * Body main .boton {
        background-color: #155E53;
        padding: 10px;
        width: 200px;
        height: 50px;
        margin-top: 10px;
        border: none;
        transition-duration: 0.4s; }
      * Body main .boton a {
        text-decoration: none;
        font-family: Montserrat;
        color: white;
        font-size: 15px; }
      * Body main .boton:hover {
        background-color: #EE8886; }
    * Body footer {
      background-color: #EE8886;
      align-content: center;
      text-align: center;
      margin-top: 2em;
      padding-top: 10px;
      padding-bottom: 1em;
      /*---------MAPS-----------*/
      /*-----------------------*/ }
      * Body footer img {
        margin: 5px; }
      * Body footer .instagram:hover {
        border: 5px solid #125688;
        border-radius: 100px; }
      * Body footer .facebook:hover {
        border: 5px solid #3b5998;
        border-radius: 100px; }
      * Body footer .whatsapp:hover {
        border: 5px solid #4dc247;
        border-radius: 100px; }
      * Body footer .mail:hover {
        border: 5px solid #cb3234;
        border-radius: 100px; }
      * Body footer #aviso p {
        font-family: Montserrat;
        font-size: 10pt;
        direction: flex;
        text-align: center;
        padding-top: 1em;
        align-content: center; }
